body{
    background-color: #FDE4FF;
    font-family: Montserrat;
    height: 500px;
}

.nav{
    display: flex;
    text-decoration: none;
}

.optionmenu {
    background-color: transparent;
    height: 25px;
    width: 127px;
    color: #FA00BA;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 15px;

}

  /* Change the link color on hover */
.optionmenu:hover {
    background-color: white;
    border-radius: 27px;
    height: 25px;
    width: 127px;
    color: #FA00BA;
    text-align: center;
    margin: 0;
    padding: 0;
  }

.logo{
    height: 50px;
    width: 50px;
    padding-right: 30%;
    display: flex;
    justify-content: left;
    align-items: start;
}

.menu{
    color: #FA00BA;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right{
    width: 50%;
    text-align: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FA00BA;
    font-size: 80px;
    font-weight: bold;
}

h1{
    display: flex;
    justify-content: left;
    align-items: center;
    color: #FA00BA;
    text-decoration: underline;
    font-size:20px ;
    font-weight: lighter;
    padding-left: 35%;
}

h2{
    display: flex;
    justify-content: left;
    align-items: center;
    color: black;
    font-size:15px ;
    font-weight: lighter;
    padding-left: 35%;
    width: 1500px;
}

.skills img{
    float: left;
    padding-left: 5%;
    height: 20px;
}

.skills{
    padding-bottom: 30px;
}

.footer{
    background-color: #ED9DFF;
    height: 80px;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-right: 70%;
}

.icons img{
    width: 50px;
    height: 50px;
}

.icon1{
    padding-right: 10%;
}

.info{
    color: white;
    text-align: left;
    width: 300px;
}

@media only screen and (max width:600){
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FA00BA;
        text-decoration: underline;
        font-size:20px ;
        font-weight: lighter;
        padding-left: 35%;
    }
    
    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size:15px ;
        font-weight: lighter;
        padding-left: 35%;
        width: 1500px;
    }
}